/*----------FONTS------------*/

/*@import url(http://fonts.googleapis.com/css?family=Roboto);*/

/* MAXWELL familia de fontes */

@font-face {
    font-family: 'MAXWELL';
    src: url('../fonts/MAXWELL_REGULAR.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MAXWELL';
    src: url('../fonts/MAXWELL_BOLD.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'MAXWELL';
    src: url('../fonts/MAXWELL_LIGHT.woff') format('woff');
    font-style: normal;
    font-weight: 100;
}

/*----------NORMATIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'MAXWELL';
    list-style: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: #00bcd4;
}

html,
body {
    height: 100%;
}

body {
    font-size: 100%;
    color: #696969;
    position: relative;
    background-color: #f5f5f5;
}

::selection {
    color: whitesmoke;
    background-color: #00b7ad;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input[type="password"]{
    font-family: 'Arial'!important;
}

/* - classes normativas - */

.centralize {
    display: flex;
    justify-content: center;
}

.blackcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.70);
    z-index: 1;
}

/*----------ARTICLE------------*/
article{
    height: 100vh;
    width: 100%;
    background-image: url(../img/steve%20draw.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-color: white
}

/*----------NAV------------*/

nav {
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.12), 0px 0px 20px 0 rgba(0, 0, 0, 0.24);
    background-color: whitesmoke;
    z-index: 1;
    transition: 0.5s;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: dimgray;
}

nav a {
    color: dimgray;
}

nav > ul {
    display: flex;
    /* modo de distribuição dos filhos (adaptativo) */
    flex-direction: row;
    /* direção da distribuição (em linha) */
    flex-wrap: wrap;
    /* adaptar os filhos ao tamanho do pai */
    justify-content: center;
    /* alinhamento horizontal dos filhos */
    align-content: center;
    align-items: center;
    /* alinhamento vertical dos filhos */
    font-size: 3.5vh;
}

nav > ul li {
    padding: 2vh 2vw;
    opacity: 0.8;
    transition: 0.5s;
    flex-grow: 0;
    /* ocupa o resto da largura da div */
    flex-shrink: 1;
    /* encurta a div */
    flex-basis: auto;
    /* define uma largura de cada elemento caso não tenha */
    position: relative;
    cursor: pointer
}

nav > ul li:hover {
    opacity: 1;
    padding: 2vh 3.5vw 2vh;
}

nav img {
    height: 5vh;
    opacity: 0.9;
    margin: 0 1vw;
    transition: all 0.5s ease;
}

nav img:hover {
    opacity: 1;
}

#home {
    width: 3vw;
    margin: 15px 0px 15px 10px;
    float: left;
    transition: 0.5s;
    opacity: 0.9;
    position: relative;
    z-index: 2;
}

#home:hover {
    opacity: 1;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.12), 0px 5px 20px 0 rgba(0, 0, 0, 0.24);
}
